<div class="add_docente">
  <h2 mat-dialog-title>Añadir Docente</h2>
  <form mat-dialog-content class="grid" (ngSubmit)="onSubmit()" >
    <div>
      <mat-form-field class="form" [formGroup]="form">
        <input required formControlName="nombre" type="text" id="nombre" matInput placeholder="Nombre" name="nombre">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form" [formGroup]="form">
        <input formControlName="segundo_nombre" type="text" id="segundo_nombre" matInput placeholder="Segundo Nombre" name="segundo_nombre">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form" [formGroup]="form">
        <input required formControlName="apellido_paterno" type="text" id="apellido_paterno" matInput placeholder="Apellido Paterno" name="apellido_paterno">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form" [formGroup]="form">
        <input required formControlName="apellido_materno" type="text" id="apellido_materno" matInput placeholder="Apellido Materno" name="apellido_materno">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form" [formGroup]="form">
        <input formControlName="email" type="text" id="email" matInput placeholder="Correo" name="email">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form" [formGroup]="form">
        <input required formControlName="horas_planta" type="text" id="horas_planta" matInput placeholder="Horas de Planta" name="horas_planta">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form" [formGroup]="form">
        <input id="encargado" [matAutocomplete]="auto2" [formControl]="myControlUsuarios" type="text" matInput placeholder="Jefe de Carrera Encargado" name="usuario" [(ngModel)]="super.usuario">
        <mat-autocomplete  #auto2="matAutocomplete" [displayWith]="displayUsuario2" >
          <mat-option *ngFor="let option of filterOptionsUsuarios | async" [value]="option">
            {{displayUsuario(option)}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div>
      <button [disabled]="form.invalid" class="add" mat-raised-button color="warn">Añadir</button>
    </div>
  </form>
</div>
